h1 {
    text-align: center;
}

figure {
    text-align: center;
}

p, li{
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-decoration: underline;
}

body {
    background-color: aqua;
}

.fav_toy {
    font-style: italic;
}